$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$black: #000000;


.ec-background{
    z-index: -1;
    background-color: $black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}
.ec-background-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-filter: blur(3px) grayscale(20%);
    filter: blur(3px) grayscale(0.2);
    background-image: url(/static/media/hand-phone2.98c805d4.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    
}
.ec-titulo{
    z-index: 3;
    text-align: center;
    min-height: 200px;
    padding: 6% 8% 8% 8%;
    background-color:transparent;
    h3{
       color: $white; 
    }
    p{
        color:$white;
    }
}