$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$black: #000000;
$green: #4CAF50;
$light-green: #5dba61;

.dc-titulo{
    text-align:center;
    min-height:200px;
    padding:6% 8% 8% 8%;
    background-color:$white;
    h2{
        color:$medium-blue;
        font-size:2.5rem;
    }
    p{
        color:$medium-blue;
    }
}
.title-underline{
    margin: 0px 48%;
    background-color: $medium-blue;
    height: 4px;
    border-radius: 2px;
}
.digital-background{
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    background-image: url(../../../img/background/bcgd1.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    z-index:2;
}
.dc-text{
    width:30%;
    float:left;
    text-align:left;
    z-index:3;
    position:absolute;
    h3{
        font-size:3rem;
        color:$white;
        margin-top:0;
    }
    p{
        color:$white;
        opacity:0.75;
    }
}
.trapezio {
    right: 0;
    position: absolute;
    border-bottom: 700px solid $white;
    border-left: 450px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 75%;
    float:right;
    z-index:4;
}
.dc-menu{
    height:80px;
    position:absolute;
    margin:auto;
    top:10px;
    left:41%;
    z-index:4;
}
.dc-menu{
    ul{
        li{
            float:left;
            margin:5px 30px;
        }
    }
}
.dc-menu li .dc-active{
    background-color: $water-blue;
}
.losango { 
    cursor:pointer;
    width: 16px; 
    height: 16px; 
    background-color: transparent; 
    border:3px solid $lighter-blue;
    transition:0.4s;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.losango:hover {
    transition:0.4s;
    -webkit-transform:scale(2.3) rotate(225deg);
    -moz-transform:scale(2.3) rotate(225deg);
    -o-transform:scale(2.3) rotate(225deg);
    transform:scale(1.15) rotate(225deg);
    background-color:$water-blue;
}

.digital-img{
    position:relative;
    z-index:3;
    img{
        width: 100%;
        position: absolute;
        top: 50px;
        right: 120px;
    }
}
.btn-class {
  background-color: $green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-class:hover{
    background-color:$light-green;
}
#site, #sistema, #ideias, #design{
    transition:0.6s;
    opacity:0;
}
.dc-show{
    transition: 2.1s !important;
    opacity:1 !important;
}


    

