$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$black: #000000;
$green: #4CAF50;
$light-green: #5dba61;

.dc-titulo{
    text-align:center;
    min-height:200px;
    padding:3% 8%;
    background-color:$white;
    opacity:0;
    transition:1s;
    h2{
        color:$medium-blue;
        font-size:2rem;
    }
    p{
        color:$black;
        opacity:0.85;
        font-size:1.2rem;
    }
    .row{
        margin:0;
    }
}
.dc-titulo-show{
    opacity:1;
    transition:1s;
}
.dc-title-img img{
    width:60%;
}
.dc-title-text{
    text-align:left;
}
.title-underline{
    margin: auto;
    width:43px;
    background-color: $medium-blue;
    height: 4px;
    border-radius: 2px;
}
.digital-background{
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../../img/background/bcgd1.jpg);
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    z-index:2;
}
.digital-back1{background-image: url(../../../img/background/bcgd1.jpg);}
.digital-back2{background-image: url(../../../img/background/bcgd1.jpg);}
.digital-back3{background-image: url(../../../img/background/bcgd1.jpg);}
.digital-back4{background-image: url(../../../img/background/bcgd1.jpg);}
.dc-text{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 3;
    padding: 0 10%;
    opacity:0;
    transition:1s;
    top:15%;
    h3{
        font-size:3rem;
        color:$white;
        margin-top:0;
    }
    p{
        color:$white;
        opacity:0.85;
    }
}
.dc-show{
    transition: 1s !important;
    opacity: 1 !important;
    z-index:4;
}
.dc-img-show{
    transition: 2.3s !important;
    opacity:1 !important;
}
.trapezio {
    right: 0;
    bottom: 0;
    position: absolute;
    border-bottom: 525px solid #FFFFFF;
    border-left: 450px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 75%;
    float: right;
    z-index: 4;
}
.dc-menu{
    height: 50px;
    position: relative;
    margin: auto;
    z-index: 4;
    text-align:center;
    width:40%;
    ul{
        position: relative;
            width: 100%;
            display:flex;
            text-align:center;
            li {
                float: none;
                width: 25%;
                text-align: center;
                margin: 0 10%;
            }
    }
}
.dc-container{
    position: relative;
    z-index: 3;
    width: 100%;
    float: none;
    text-align: center;
    height: 450px;
    margin-top: 0;
    overflow: hidden;
    opacity:0;
    transition:1s;
}
.dc-container-show{
    opacity:1;
    transition:1s;
}
.dc-img-container{
    padding-top:8%;
    width:40%;
    float:left;
}
.dc-menu li .dc-active{
    background-color: $water-blue;
}
.losango { 
    cursor:pointer;
    width: 16px; 
    height: 16px; 
    background-color: transparent; 
    border:3px solid $lighter-blue;
    transition:0.4s;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.losango:hover {
    transition:0.4s;
    -webkit-transform:scale(2.3) rotate(225deg);
    -moz-transform:scale(2.3) rotate(225deg);
    -o-transform:scale(2.3) rotate(225deg);
    transform:scale(1.15) rotate(225deg);
    background-color:$water-blue;
}

.digital-img{
    position:relative;
    z-index:3;
    img{
        position: absolute;
        width: 100%;
        left: 10%;
    }
}
.btn-class {
  background-color: $green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-class:hover{
    background-color:$light-green;
}
#site, #sistema, #ideias, #design,
#site-img, #sistema-img, #ideias-img, #design-img{
    transition:0.6s;
    opacity:0;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .dc-title-img img {
        width: 95%;
    }
    .dc-text{
        padding:0 20%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .dc-title-img img{
        width:100%;    
        margin-top: 1.78rem;
        margin-top: 50px;
    }
    .dc-img-container {
        padding-top: 32%;
        width: 100%;
        img{
            left:5%;
        }
    }
    .dc-titulo{
        h2{
            color: #0080ff;
            font-size: 1.6rem;
        }
    }
    .dc-menu {
        height: 80px;
        position: relative;
        margin: auto;
        top: 30px;
        left: 0;
        z-index: 4;
        width: 50%;
        ul{
            position: relative;
            width: 100%;
            display:flex;
            text-align:center;
            li {
                float: none;
                width: 25%;
                text-align: center;
                margin: 0 10%;
            }
        }
    }
    .dc-show{
        position: absolute;
        transition: 0.6s !important;
        opacity: 1 !important;
        left: 0 !important;
    }
    .dc-text {
        left: 110%;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 3;
        top: 18%;
    }
    .dc-container {
        position: relative;
        z-index: 3;
        width: 100%;
        float: none;
        text-align: center;
        height: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .dc-title-text {
        text-align: center;
    }
    .dc-title-img img{
        width:100%;
    }
    .dc-menu{
            text-align: center;
            position: relative;
            height: 50px;
            margin: 15% 0 40px 0;
            left: 0;
            z-index: 4;
            width: 100%;
            padding: 0 15%;
        ul{
            position: relative;
            width: 100%;
            display: flex;
            text-align: center;
            li {
                float: none;
                width: 25%;
                text-align: center;
                margin: 0 10%;
                .losango{
                    width:13px;
                    height:13px;
                }
            }
        }
    }
    .dc-container{
        position: relative;
        height: 400px;
        float: none;
        width: 100%;
        margin-top: 10vh;
    }
    .dc-text {
        padding: 12px 5%;
        left: 110%;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 3;
        top: 0;
        h3{
            font-size:2.8rem;
        }
        p{
            font-size:1.5rem;
        }
    }
    .dc-show {
        position: absolute;
        transition: 0.6s !important;
        opacity: 1 !important;
        left: 0% !important;
        top: 0 !important;
    }
    .dc-titulo{
        min-height: 100vh;
            padding: 10% 3%;
    }
    .header-content{
        min-height: 100vh;
    }
    .digital-content{
        min-height: 100vh;
    }
    
    
}

@media only screen and (max-width: 375px) {
    .dc-img-container{
           position: relative;
            height: 250px;
            padding-top: 15%;
    }
     
}



    

