$darker-blue: #2699FB;
$dark-blue: #0080ff;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$light-white: #ffffffe6;

nav ul a{
    color: $white;
}
nav .brand-logo{
    color: $white;
    font-size: 2.5rem;
    font-weight:700;
    margin-top: 7px;
}

nav{
    /*float: left;*/
    z-index: 2;
    position: absolute;
    background-color: transparent;
    height: 70px;
    padding: 14px 4% 0 4%;
    width:100%;
    box-shadow:none;
}
nav ul li:hover{
    background-color: $lighter-blue;
    transition: 0.7s;
    margin-top: 10px;
}
nav ul li{
    transition: 0.7s;
}


/*responsivo*/
@media only screen and (min-width: 601px) and (max-width: 991px) {
    nav .button-collapse {
        padding-top: 2px;
        float:right;
        border: 1px solid white;
        padding: 0px;
    }
    nav .brand-logo {
        float: left;
        left: 10%;
    }
     nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
        font-size:50px;
        color:$white;
    }
    .side-nav{
        width:100%;
    }
    .side-nav a {
        color: $dark-blue;
    }
    #nav-mobile{
        background-color: #ffffffe6;
        height: 22vh;
        margin: 16% 0%;
        padding: 7px;
        text-align:center;
    }
    #sidenav-overlay{
        opacity:0 !important;
        display:none !important;
    }
}

@media only screen and (max-width: 600px) {
    .header-title{
        padding: 25% 4px;
    }
    nav .nav-wrapper {
        padding-top: 5px;
    }
    nav .button-collapse {
        border: 1px solid white;
        padding: 0px;
        float:right;
    }
    nav .brand-logo {
        float: left;
        left: 17%;
    }
    .side-nav a {
        color: $dark-blue;
    }
    .side-nav{
        width:100%;
    }
    #nav-mobile{
        background-color: $light-white;
        height: 22vh;
        margin: 30% 0%;
        padding: 4px;
        text-align: center;
    }
    #sidenav-overlay{
        opacity:0 !important;
        display:none !important;
    }
    nav .brand-logo{
        margin-top:0;
    }
    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
        font-size:50px;
        color:$white;
    }
}