$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$dark-white: #fafafa;
$black: #000000;


.emp-titulo{
    text-align:center;
    padding-bottom: 8%;
    h2{
        color:$medium-blue;
        font-size:2.5rem;
    }
    p{
        
    }
}
.emp-padding{
    padding: 6% 16%;    
}
.ec-intro{
    padding:6%;
    text-align:justify;
    p strong{
        color:$medium-blue;
    }
}
.emp-text{
    text-align: justify;
    position: relative;
    h3{
        color: $medium-blue;
        margin-top:0;
    }
    p{
        line-height: 1.8rem;
        font-size: 1.3rem;
        margin-bottom: 40px;
    }
    p:first-child, p:nth-child(2), p:nth-child(3){
        opacity:0;
        transition:.8s;
    }
}
.emp-show{opacity:1 !important;transition:0.8s;}
.emp-text strong{
    color: $medium-blue;
}

.emp-img{
    position:relative;
    width:100%;
    min-height:700px;
    img{
        padding: 5% 12%;
        width: 100%;
        position: absolute;
    }
    .emp-rectangle{
        position:absolute;
    }
}
.emp-box{
    padding: 6% 16%;
}
.emp-rect{
    float: left;
    width: 100%;
    margin: 10px;
    opacity:0;
    transition:0.4s;
    .fa{
        font-size:3em;
        color:$medium-blue;
        width: 100px;
        height:100px;
        float: left;
        background-color: $water-blue;
        padding: 27px;
        border-radius: 100%;
    }
    span p{
        padding: 32px 0 32px 132px;
        color:$medium-blue;
        font-weight:bold;
        margin:0;
    }
}
