$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$dark-white: #fafafa;
$black: #000000;


.emp-titulo{
    text-align:center;
    padding-bottom: 6%;
    h3{
        color:$medium-blue;
    }
    p{
        
    }
}
.emp-infos{
    position: relative;
    padding-top: 10em;
    text-align: center;
    margin-top: 50%;
    h4{
        font-size: 20px;
        color:#37484e;
    }
    p{
        font-size: 18px;
        color:#5d6c71;
    }
    .fa{
        position: absolute;
        font-size: 4em;
        color: #0089ec;
        margin: 0;
        padding: 10%;
        left: 30px;
        bottom: 35px;
        transform: rotate(45deg);
    }
}
.emp-text{
    padding: 0 12%;
    h3{
        color: $medium-blue;
        margin-top:0;
    }
    p{
        line-height: 1.8rem;
        font-size: 1.3rem;
        opacity: 0.75;
        margin-bottom: 20px;
    }
}
.emp-text strong{
    color: $medium-blue;
}
.emp-padding{
    
}
.emp-losango{
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border: 1px solid #bce0fd;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -40px;
    left: 29%;
    border-radius: 5px; 
}