$dark-purple:#6b2796;
$light-purple:#aa6dd1;

.s-container-purple{
    h2{
        color:$dark-purple;
    }
}
.s-content-purple{
    h2{
        color:$dark-purple;
    }
}
.s-infos-text-purple{
    h3{
        color:$dark-purple;
    }
}
.s-prices-rect-purple{
    h3{
        color:$dark-purple;
    }
    h4{
        color:$dark-purple;
    }
}

.s-active-purple:hover{
    border-top-color:$dark-purple;
    border-top-width: 3px !important;
    border-bottom-color:$dark-purple;
    border-bottom-width: 3px !important;
}
.st-infos-img-top{
    img{
        position: absolute;
        left: 0;
        width: 100%;
    }
}
.st-infos-img-middle{
    img{
        position: absolute;
        left: 30px;
        width: 100%;
        top: 20px;
    }
}
.st-infos-img-bottom{
    img{
        position: absolute;
        width: 100%;
        left: -75px;
        top: 20px;
    }    
}