$darker-blue: #054381;
$medium-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;
$black: #000000;

.content{
    z-index:1;
    padding: 13% 8% 1px 8%;
    position:relative;
}
.header-content{
    min-height: 700px;
    background-image: linear-gradient(to bottom right, $darker-blue, $water-blue);
    
}
.digital-content{
    background-color:$medium-blue;
    background-image: linear-gradient(to bottom right, $darker-blue, $water-blue);
    min-height: 700px;
}
.features-content{
    background-color:$white;
    min-height: 700px;
}
.ebook-content{
    z-index:1;
    min-height: 350px;
    position:relative;
}
.empresa-content{
    min-height: 700px;
    background-color:$white;
}
.pilares-content{
    min-height:700px;
    background-color:$white;
    z-index:1;
    position:relative;
    padding:10px 12%;
}
.client-content{
    min-height: 700px;
    background-color:$white;
}
.footer-content{
    min-height: 700px;
    background-color:$black;
}