$darker-blue: #0080ff;
$dark-blue: #2699FB;
$water-blue: #BCE0FD;
$lighter-blue: #b1dcfb;
$white: #FFFFFF;

.header-title{
    padding: 0 12% 0 0;
}
.header-title h1 {
    font-size: 3.5rem;
}

.header-title p{
    line-height: 2.3rem;
    font-size: 1.6rem;
    opacity: 0.75;
    
}
.header-title p.p-subscription{
    font-size:14px;
    line-height:1.8rem;
    font-style: italic;
}
.btn, .btn-large{
    background-color:$darker-blue;
}
.btn:hover, .btn-large:hover {
    background-color: $dark-blue;
}
.header-img{
    margin-top:2.8rem;
    padding-right: 8%;
    position:relative;
    img{
        width: 145%;
        position: absolute;
        left: -182px;
        top: -35px;
    }
}

@media only screen and (max-width: 600px) {
    
    .header-title{
        text-align: center;
        padding:4px;
    }
    .header-title h1 {
        font-size: 2.1rem;
        margin: 5rem 0 1.68rem 0;
    }
    .header-img img {
        width: 100%;
        position: relative;
        left:0;
        top:0;
    }
}

